<% if @lastestVideo.any? %>
<div class="container-fluid">
  <%= render 'lastest_videos' %>
</div>
<% end %>

<% if @hotVideo.any? %>
    <div class="container-fluid">
      <%= render 'hot_videos' %>
    </div>
<% end %>
