<div class="row-fluid">
  <div class="span12">
    <a href="http://www.uboxapp.com/">
      <img class="thumbnail thumbnail_med_wide" alt="" src="http://d2lsl7161i9sr3.cloudfront.net/20131015/525ccfbcc2b15ec6ff00016a-1381814204-photo.jpeg"></img>
    </a>
    <a href="http://www.uboxapp.com/">
      <img class="thumbnail thumbnail_med_wide" alt="" src="http://d2lsl7161i9sr3.cloudfront.net/20131015/525d0113c2b15e1f82000886-1381826835-photo.jpeg"></img>
    </a>
    <a href="http://www.uboxapp.com/">
      <img class="thumbnail thumbnail_med_wide" alt="" src="http://d2lsl7161i9sr3.cloudfront.net/20131014/525b3bc4c2b15ed27d000659-1381710788-photo.jpeg"></img>
    </a>
  </div>
</div>

