<div id="footage_nav" class="footage_nav">
  <div id="about_us" class="foot_nav_block">
    <span>ABOUT US</span>
    <ul>
      <li>My Blog</li>
      <li>Guidelines</li>
      <li>Developers</li>
      <li>Jobs</li>
    </ul>
  </div>
  <div id="help" class="foot_nav_block">
    <span>HELP</span>
    <ul>
      <li>Help Center</li>
      <li>Basics</li>
      <li>Video School</li>
      <li>FAA</li>
      <li>Forums</li>
    </ul>
  </div>
  <div id="more" class="foot_nav_block">
    <span>MORE</span>
    <ul>
      <li>On Demand</li>
      <li>Enhancer</li>
      <li>Everywhere</li>
      <li>Upload</li>
      <li>Site Map</li>
    </ul>
  </div>
</div>
<footer id="footer_overall">
  <p>Copyright &copy; 2013 CNC Soft. All rights reserved</p>
</footer>
